{% extends "base.html" %} {% block head_content %}
<style>
  p {
    max-width: 500px;
    text-align: center;
    line-height: 25px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  nav button {
    background-color: white;
    color: black;
    border: 1px solid #555;
    padding: 8px 16px;
    margin: 5px;
    margin-top: 13px;
    cursor: pointer;
    border-radius: 5px;
  }

  main {
    display: flex;
    width: 90%;
    margin-top: 2px;
  }

  .info-section {
    width: 50%;
    padding: 20px;
    line-height: 20px;
    margin-top: 20px;
  }

  .info-section img {
    max-width: 500px;
    margin-top: 60px;
    border-radius: 20px;
  }

  .form-container {
    display: flex;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    height: 850px;
    margin-top: 50px;
    width: 600px;
    flex-direction: column;
  }

  /* h1 {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 10px;
    max-width: 500px;
    text-align: center;
  } */

  h1 {
    color: rgba(21, 66, 94, 1);
    margin-bottom: 20px;
  }

  input,
  select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  .age-contact {
    display: flex;
    justify-content: space-between;
  }

  .age-contact select,
  .age-contact input {
    width: 48%;
  }

  button {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #1a252f;
  }

  .progress-container {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
  }

  .progress-bar {
    height: 30px;
    width: 33.33%;
    background-color: rgba(54, 133, 181, 1);
    border-radius: 25px 0 0 25px;
    transition: width 0.3s ease;
  }

  .entire-page {
    display: flex;
    justify-content: space-evenly;
  }

  .page-summary {
    width: 600px;
    display: flex;
    flex-direction: column;
  }

  .dog-owner {
    margin-top: 40px;
  }
</style>
{% endblock %} {% block content %}
<section class="entire-page">
  <div class="page-summary">
    <h1>Get your quote in a few simple steps!</h1>
    <h4>
      Simply let us know a few details about yourself, and your pet, and we’ll
      deliver quotes with the best coverage for you to choose from.
    </h4>
    <h4>Progress</h4>
    <div class="progress-container">
      <div class="progress-bar" id="progress-bar"></div>
    </div>
    <img
      class="dog-owner"
      src="https://cff2.earth.com/uploads/2019/07/08191128/The-personalities-of-animal-owners-are-reflected-in-their-pets.jpg"
      alt=""
    />
  </div>
  <form
    action="{{ url_for('main_bp.create_owner') }}"
    method="POST"
    class="form-container"
  >
    <h1>Tell us about yourself</h1>
    <!-- Owner's Information -->
    <div class="form-element">
      <label for="owner-name">Owner's Name</label>
      <input
        type="text"
        id="owner-name"
        name="owner_name"
        class="input-field"
        required
      />
    </div>

    <div class="form-element">
      <label for="owner-surname">Owner's Surname</label>
      <input
        type="text"
        id="owner-surname"
        name="owner_surname"
        class="input-field"
        required
      />
    </div>

    <div class="form-element">
      <label for="owner-date-of-birth">Date of Birth</label>
      <input
        type="date"
        id="owner-date-of-birth"
        name="owner_date_of_birth"
        class="input-field"
        required
      />
    </div>

    <div class="form-element">
      <label for="owner-contact-number">Contact Number</label>
      <input
        type="tel"
        id="owner-contact-number"
        name="owner_contact_number"
        class="input-field"
        required
      />
    </div>

    <div class="form-element">
      <label for="owner-physical-address">Physical Address</label>
      <input
        type="text"
        id="owner-physical-address"
        name="owner_physical_address"
        class="input-field"
        required
      />
    </div>

    <div class="form-element">
      <label for="owner-email-address">Email Address</label>
      <input
        type="email"
        id="owner-email-address"
        name="owner_email_address"
        class="input-field"
        required
      />
    </div>

    <div class="form-element">
      <label for="owner-password">Password</label>
      <input
        type="password"
        id="owner-password"
        name="owner_password"
        class="input-field"
        required
      />
    </div>

    <div class="form-element">
      <label for="owner-confirm-password">Confirm Password</label>
      <input
        type="password"
        id="owner-confirm-password"
        name="owner_confirm_password"
        class="input-field"
        required
      />
    </div>

    <button type="submit" class="signup-btn">Add your pets</button>
  </form>
</section>
{% endblock %}
