{% extends "base.html" %} {% block head_content %}
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
  }

  /* Sidebar styling */
  .sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    padding-left: 20px;
    transition: all 0.3s ease;
    z-index: 1000; /* Keep sidebar below header */
  }

  /* Main content area */
  .content {
    margin-left: 150px; /* Create space for the sidebar */
    padding: 30px;
    transition: margin-left 0.3s ease;
    margin-top: 0px;
    padding-top: 10px;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }

  .sidebar a:hover {
    background-color: #575757;
  }

  .side-nav {
    margin-top: 40px;
  }

  .full-page {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    width: 24rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .card-body {
    background-color: white;
    padding: 20px;
  }

  .important {
    font-weight: bold;
  }

  .pet-health {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
  }

  .card-text ul {
    padding-left: 0;
    list-style-type: none;
  }

  .card-text li {
    margin-bottom: 10px;
    line-height: 1.6;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .sidebar {
      width: 0;
      position: absolute;
    }

    .sidebar a {
      font-size: 16px;
    }

    .full-page {
      flex-direction: column;
    }

    .pet-health {
      flex-direction: column;
    }
  }

  .insurance-logo {
    width: 80px;
  }

  .health-info {
    color: gray;
    margin-bottom: 0px;
  }

  .btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.add-pet-btn {
  text-align-last: end;
  margin-bottom: 30px;
}

.btn-danger {
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bold;
}

.card-img-top {
  width: 200px;
  align-self: center;
}

</style>
{% endblock %} {% block content %}
<!-- Sidebar -->
<div class="sidebar">
  <nav class="side-nav">
    <a href="/dashboard"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
    <a href="/claim-tracker"
      ><i class="fa-solid fa-clipboard-check"></i> Claim Tracker</a
    >
    <a href="/claim-form"
      ><i class="fa-solid fa-file-circle-plus"></i> Submit Claim</a
    >
    <a href="./profile"><i class="fa-solid fa-user"></i> Profile</a>
  </nav>
</div>

<!-- Content -->
<section class="content">
  <div class="add-pet-btn">
    <a href="{{ url_for('pet_input_bp.add_pet', owner_id = current_user.owner_id)}}" class="btn btn-primary">
      <i class="fa-solid fa-plus"></i> Add Pet
    </a>
  </div>
  <div class="full-page">
    {% for pet in pets %}
    <div class="card">
      {% if pet.pet_type == 'Dog' %}
      <img
        src="https://cdn3.iconfinder.com/data/icons/line/36/dog_head-1024.png"
        class="card-img-top"
        alt="Pet Image"
      />
      {% else %}
      <img
        src="https://cdn1.iconfinder.com/data/icons/cat-supplies-line/64/cat-01-1024.png"
        class="card-img-top"
        alt="Pet Image"
      />
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ pet.pet_name }}</h5>
        <p class="card-text">{{ pet.pet_type }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ pet.pet_age }} years old</li>
        <li class="list-group-item">{{pet.breed}}</li>
        <li class="list-group-item">{{pet.pet_gender}}</li>
      </ul>
      <div class="pet-health">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title">Health</h5>
            <div class="card-text">
              <div class="health-box">
                <p class="health-info"><i class="fa-solid fa-syringe"></i> Next Vaccination Date </p><p>{{pet.vacc_date}}</p>
              </div>
              <div class="health-box">
                <p class="health-info">
                  <i class="fa-solid fa-notes-medical"></i> Underlying Conditions </p><p>{{pet.medical_conditions if
                  pet.medical_conditions else 'None'}}
                </p>
              </div>
              <div class="health-box">
                <p class="health-info">
                  <i class="fa-solid fa-shield-dog"></i> Insurance Plan</p>
                  <img class="insurance-logo" src="{{ pet.insurance_logo }}" /> {{
                  pet.insurance_name or 'No Insurance' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mb-3">
  <a href="{{ url_for('main_bp.pet_update', pet_id=pet.pet_id) }}" class="btn btn-primary">
    <i class="fa-solid fa-pen-to-square"></i> Update Pet
  </a>
  <form
      action="{{url_for('main_bp.delete_pet_by_id', pet_id=pet.pet_id)}}"
      method="POST"
      class="form-container"
    >
      <button type="submit" class="btn btn-danger">
        <i class="fa-solid fa-trash"></i> Delete Pet
      </button>
    </form>
</div>


    </div>
    {% endfor %}

  </div>
</section>
{% endblock %}
