{% extends "base.html" %} {% block head_content %}
<style>
  body {
    background-color: #f8e5dd;
    text-align: center;
  }

  .header {
    background-color: #f4c7b8;
  }

  nav button {
    background-color: white;
    border: none;
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 30px;
  }

  .premium-title {
    color: rgb(87, 74, 0);
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    padding-bottom: 15px;
  }

  .price {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 15px;
  }

  .purchase-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .feature {
    display: flex;
    align-items: center;
    line-height: 40px;
  }

  .feature .icon {
    font-size: 18px;
    margin-right: 8px;
  }

  .blurred {
    color: rgba(0, 0, 0, 0.3);
  }

  .content {
    display: block;
    width: 100%;
  }
</style>
{% endblock %} {% block content %}
<h2>We've found <strong>3</strong> great deals for you!</h2>
<div class="container">
  <div class="card">
    <div class="premium-title">Basic</div>
    <div class="feature">
      <span class="icon">✔</span> Accidents & Emergency Care
    </div>
    <div class="feature">
      <span class="icon">✔</span> Routine Vet Check-ups *
    </div>
    <div class="feature">
      <span class="icon">✔</span> Vaccinations & Deworming
    </div>
    <div class="feature blurred">
      <span class="icon">✘</span> Illness Coverage
    </div>
    <div class="feature blurred">
      <span class="icon">✘</span> Prescription Medications
    </div>
    <div class="feature blurred">
      <span class="icon">✘</span> Specialist Vet Consultations
    </div>
    <div class="feature blurred"><span class="icon">✘</span> Dental Care</div>
    <div class="feature blurred">
      <span class="icon">✘</span> Chronic Condition Management
    </div>
    <div class="price">R146.50 pm</div>
    <button class="purchase-btn">Purchase</button>
  </div>
  <div class="card">
    <div class="premium-title">Pro</div>
    <div class="feature">
      <span class="icon">✔</span> Accidents & Emergency Care
    </div>
    <div class="feature">
      <span class="icon">✔</span> Routine Vet Check-ups *
    </div>
    <div class="feature">
      <span class="icon">✔</span> Vaccinations & Deworming
    </div>
    <div class="feature"><span class="icon">✔</span> Illness Coverage</div>
    <div class="feature">
      <span class="icon">✔</span> Prescription Medications
    </div>
    <div class="feature">
      <span class="icon">✔</span> Specialist Vet Consultations
    </div>
    <div class="feature blurred"><span class="icon">✘</span> Dental Care</div>
    <div class="feature blurred">
      <span class="icon">✘</span> Chronic Condition Management
    </div>
    <div class="price">R200.95 pm</div>
    <button class="purchase-btn">Purchase</button>
  </div>
  <div class="card">
    <div class="premium-title">Premium</div>
    <div class="feature">
      <span class="icon">✔</span> Accidents & Emergency Care
    </div>
    <div class="feature">
      <span class="icon">✔</span> Routine Vet Check-ups *
    </div>
    <div class="feature">
      <span class="icon">✔</span> Vaccinations & Deworming
    </div>
    <div class="feature"><span class="icon">✔</span> Illness Coverage</div>
    <div class="feature">
      <span class="icon">✔</span> Prescription Medications
    </div>
    <div class="feature">
      <span class="icon">✔</span> Specialist Vet Consultations
    </div>
    <div class="feature"><span class="icon">✔</span> Dental Care</div>
    <div class="feature">
      <span class="icon">✔</span> Chronic Condition Management
    </div>
    <div class="price">R295.60 pm</div>
    <button class="purchase-btn">Purchase</button>
  </div>
</div>
{% endblock %}
