{% extends "base.html" %} {% block head_content %}
<style>
  .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 30px;
  }
  .premium-title {
    color: rgb(87, 74, 0);
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .price {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 15px;
  }
  .purchase-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  h2 {
    font-size: 30px;
  }
  .feature {
    display: flex;
    align-items: center;
    line-height: 40px;
  }
  .feature .icon {
    font-size: 18px;
    margin-right: 8px;
  }
  .blurred {
    color: rgba(0, 0, 0, 0.3);
  }
</style>
{% endblock %} {% block content %}
<h2>We’ve found <strong>{{ total_deals }}</strong> great deals for you!</h2>
<div class="container">
  {% for plan in insurance_plans %}
  <div class="card">
    <div class="premium-title">{{ plan.insurance_name }}</div>
    {% for feature in plan.features.split(',') %} {# Assuming CSV format in DB
    #}
    <div class="feature"><span class="icon">✔</span> {{ feature.strip() }}</div>
    {% endfor %}
    <div class="price">R{{ plan.price_per_month }} pm</div>
    <form
      action="{{ url_for('quotes_bp.link_insurance_plan', pet_id=pet_id) }}"
      method="POST"
    >
      <input type="hidden" name="pet_id" value="{{ pet_id }}" />
      <input
        type="hidden"
        name="insurance_plan_id"
        value="{{ plan.insurance_id }}"
      />
      <button type="submit" class="purchase-btn">Purchase</button>
    </form>
  </div>
  {% endfor %}
</div>
{% endblock %}
